<select>
    <option>0</option>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
    <option>9</option>
</select>
<select>
    <option>0</option>
    <option>30</option>
</select>
<hr>
admin:
<br>
<label>From</label>
<input type="number" min="0" max="23">
<input type="number" min="0" max="30" step="30">
<br>
<label>To</label>
<input type="number" min="0" max="23">
<input type="number" min="0" max="30" step="30">
<hr>
client:
<br>